language: node_js

node_js:
  - '10'
  - '11'
  - '12'

branches:
  only:
    - master

jobs:
  include:
    - stage: test
      name: 'Running Unit tests'
      script:
        - yarn test
    - stage: releases
      script: yarn build
      deploy:
        provider: script
        skip_cleanup: true
        script:
          - yarn install --frozen-lockfile && yarn semantic-release
